name: Deploy to Staging
on:
  workflow_dispatch:
jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    environment: staging
    env:
      DATABRICKS_HOST: ${{ secrets.HOST_NAME }}
      DATABRICKS_TOKEN: ${{ secrets.HOST_TOKEN }}
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: Install databricks cli
        uses: databricks/setup-cli@main
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true 
      - name: Deploy bundle to staging
        run: |
          databricks bundle deploy --target staging
      - name: Run a job with staging parameters
        run: |
          databricks bundle run  -t staging run_notebook
      - name: Run same with dev parameters
        run: |
          databricks bundle run -t dev run_notebook