name: deploy to Dev on merge to main
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]
jobs:
  deploy-dev:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: Install databricks cli
        uses: databricks/setup-cli@main
      - name: Deploy bundle to Dev
        run: |
          databricks bundle deploy --target dev
          # echo "Deployed successfully, target=dev"
        env:
          DATABRICKS_HOST: ${{ secrets.HOST_NAME }}
          DATABRICKS_TOKEN: ${{ secrets.HOST_TOKEN }}
